

@font-face {
  src: url('../fonts/Antwerpen.otf');
  font-family: 'Antwerpen';
}

@font-face{
  src: url('../fonts/SunAntwerpenBold.otf');
  font-family: 'SunAntwerpenBold';
}

@font-face {
  src: url('../fonts/SunAntwerpenRegular.otf');
  font-family: 'SunAntwerpen';
}
