footer {
  text-align: center;
  background: #555555;
  color: white;
  padding: 50px;
  margin-top: 50px;
  .footer-title {
    font-size: 16px;
    font-weight: 700;
  }
  .footer-subtext {
    font-size: 12px;
    font-weight: 500;
  }
}
