body {
  font-family: "Open Sans";
}

.navbar, .navbar-default, .navbar-static-top {
  background: #fafafa;
}

.nav, .navbar-nav {
  li {
    padding: 15px;
  }
}

.navbar-header {
  padding: 15px;
}

.navbar-brand {
  font-weight: 600;
}
