$body-background: #FFF;
$body-foreground: #333;

//text

$title-font: 'Antwerpen';
$regular-text-font: 'SunAntwerpen';

//navigation

$brand-font: 'Antwerpen';
$brand-color: #333;

$navbar-background: white;
$navbar-button-hover-bg: #eeeeee;

//buttons
$button-text: 'SunAntwerpenBold';

$default-button-background: #444;
$primary-button-background: #0A9CC1;


//forms

$input-border-color: #A9A9A9;
$input-background-color: #F5F5F5;
$input-glow-color: #0A9CC1;
